<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiffany's Tech Blog</title>
    <link href="https://fonts.cdnfonts.com/css/caladea" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "/">
                    home
                </a>
            </li>
             <li>
                <a href = "/dashboard">
                    dashboard
                </a>
            </li>
             <li>
                {{#if session.user}}
                <button id = "logout-button">
                    logout
                </button>
                {{else}}
                <a id = "login-link" href = "/login">
                    <button>
                        login
                    </button>
                </a>
                {{/if}}
            </li>
        </ul>
    </nav>
</div>
    {{{body}}}
    <script>
        const logoutButton = document.getElementById("logout-button")
        logoutButton.onclick = async function(){
            const response = await fetch("/logout",{
                method:"POST"
            })
            location.reload()
        }
    </script>    
</body>
</html>