<div>
    <h1>
    login
</h1>
<form id = "loginform">
    <label for="username">User Name</label>
    <input id = "username" type = "text">
     <label for="password">Password</label>
    <input id = "password" type = "password">
    <button type ="submit">Login</button>
   

</form>
<div>
     <a href ="/signup">Click to Sign up</a>
</div>
</div>
<script src = "/js/login.js"></script>