<h1>
    login
</h1>
<form id = "loginform">
    <label for="username">User Name</label>
    <input id = "username" type = "text">
     <label for="password">Password</label>
    <input id = "password" type = "password">
    <button type ="submit">Login</button>
    <a href ="/signup">Click to Sign up</a>

</form>
<script src = "../public/js/login.js"></script>