<div>
    <h1>
    sign up
</h1>
<form id = "signupform">
    <label for="username">User Name</label>
    <input id = "username" type = "text">
    <label for="email">email</label>
    <input id = "email" type = "text">
     <label for="password">Password</label>
    <input id = "password" type = "password">
    <button type ="submit">signup</button>
    

</form>
<div>
    <a href ="/login">Click to Login</a>
</div>
</div>
<script src = "/js/signup.js"></script>